<div class="container mt-5">
  <div class="row">

    <div class="col-sm-7">
      <h1>Ürünler</h1>
      <div class="product">
        <img  src= "/src/assets/img/domates.jpg" alt="Domates">
        <div class="product-name">Domates</div>
        <div class="product-price">3.99 TL</div>
        <div class="quantity-bar d-flex justify-content-between align-items-center mt-2">
          <button class="btn btn-sm btn-danger">-</button>
          <span>-</span>
          <button class="btn btn-sm btn-success">+</button>

        </div>

      </div>
    </div>


    <div class="col-sm-5">
      <h1>Sepet</h1>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
